:root {
  --background: rgba(179, 0, 0, 0.95);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'work sans', sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/*Navigation styles start here*/

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: ' ';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav ul li ul li {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  text-decoration: underline;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.grid-container {
  display: none;
}

.main-article {
  display: block;
  position: fixed;
  top: 80px;
  width: 100%;
  text-align: center;
  background-color: #222;
  color: white;
}

/*Makes it so that the website changes to a
  pc friendly version when the screen width
  of a device is wider than 800px*/
@media screen and (min-width: 800px) {
  .grid-container {
    display: grid;
    position: relative;
    top: 80px;
    width: 100%;
    grid-template-columns: 200px auto 200px;
    background-color: #222;
    padding: 10px;
    z-index: 900;
  }

  .grid-item {
    background-color: #424242;
    text-align: center;
    color: white;
  }

  .grid-text {
    text-align: center;
    color: white;
    margin: 5px;
    border-style: solid;
    border-color: red;
  }

  .main-article {
    display: none;
  }
}
